input{
    width: 150px;
    height: 35px;
    color: #202225;
    background-color: white;
    border: 1px solid;
    border-color: #202225;
    border-radius: 5px;
    cursor: pointer;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.message{
    position: relative;
    width: 70%;
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.combat_fond{
    position: relative;
    background-color: #2F3136;
    border: 1px solid;
    border-color: #202225;
    border-radius: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.combat_interface{
    position: relative;
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.combat_interface td{
    text-align: center;
}

.img_joueur{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-color: #202225;
    border-radius: 5px;
}

.img_monstre{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-color: #202225;
    border-radius: 5px;
}

.attaque{
    position: relative;
    text-align: center;
    width: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.attaque_description{
    position: absolute;
    text-align: left;
    width: auto;
    height: 160px;
    top: -90px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2F3136;
    border: 1px solid;
    border-color: #202225;
    border-radius: 5px;
}

.attaque_description p{
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1250px) {
    .combat_interface{
        width: 90%;
    }
}

@media screen and (max-width: 850px) {

    .combat_fond{
        width: 90%;
    }

    .img_joueur{
        width: 100px;
        height: 100px;
    }

    .img_monstre{
        width: 100px;
        height: 100px;
    }

    .attaque{
        width: 90%;
    }

    .attaque input{
        width: 100px;
    }

    .attaque_description{
        width: 70%;
    }
}